
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: #f1f4fd;
}

.slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 200px; /* Adjust the width as needed */
    padding: 20px;
    text-align: center;
  }
  
  .slide img {
    max-width: 100%;
    height: auto;
  }
  
  .slide p {
    margin-top: 10px;
    font-weight: bold;
  }



.expertise-item .image img{
    height: 400px !important;
}
.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-70%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    gap: 0px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 350px;
    height: 450px;
    /* object-fit: cover; */
}

.slider-wrapper .image-list .image-item img {
    width: 310px !important;
    height: 345px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
.speaker-image img{
    border: 1px solid white;
   background:  white !important;
    width: 450px !important;
    height: 400px !important;
    object-fit: contain !important;
    border-radius: 7px;
}
.slider-nav{
    margin-top: 75px !important;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        /* display: none !important; */
        font-size:1.6rem;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 180px;
        height: 450px;
    }

    .slider-wrapper .image-list .image-item img {
        width: 210px !important;
        height: 300px;
        object-fit: cover;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}
